h1 {
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 80px;
  font-weight: bold;

}

#countdown {
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 60px;

}

.car {
  height: 100px;
  width: 50%;

}

#str1 {
  background-color: black;
  width: 100%;
  height: 30px;
}


#redcar {
  position: absolute;
  top: 100px;
  width: 100;
}

#bluecar {
  position: absolute;
  top: 200px;
  width: 100;

}

#p1 {

  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 80px;
  font-weight: bold;
  color: red;

}

#p2 {

  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 80px;
  font-weight: bold;
  color: blue;
}

button {
    position: fixed;
    right: 600px;
    bottom: 50px;
    align-self: center;
}
