body{
  background-color: black;
}

h1 {
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 80px;
  font-weight: bold;
  color: yellow;
}

#countdown {
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 60px;

}


.car {
  height: 40px;
  width: 10%;

}



#redcar {
  position: absolute;
  top: 300px;
  width: 100;
}

#bluecar {
  position: absolute;
  top: 400px;
  width: 100;

}

#p1 {

  top: 100px;
  text-align: center;
  top: 40px;
  font-family: 'Bangers', cursive;
  font-size: 70px;
  font-weight: bold;
  color: red;
  z-index: 2;


}

#p2 {
  top: 100px;
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 80px;
  font-weight: bold;
  color: blue;
  z-index: 2;

}

.container {

  height: 500px;
  width: auto;
  border-style: solid;
  background-color: black;
  z-index: -2;

}


button {
    position: fixed;
    right: 600px;
    bottom: 30px;
    align-self: center;
}
